<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT club ANY>
<!ATTLIST club id ID #REQUIRED>
]>
<root id="-1">
  <club id="1063" key="c39f9d71-0de5-454e-a96e-fec7575ccaec" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-14T12:19:29" updateDate="2018-05-14T12:43:44" nodeName="Odense FB" urlName="odense-fb" path="-1,1063" isDoc="" nodeType="1062" creatorName="Simon Kongsberg" writerName="Simon Kongsberg" writerID="0" template="0" nodeTypeAlias="club" isPublished="true">
  
  
<clubDescription><![CDATA[FB fra OB]]></clubDescription><clubTitle><![CDATA[Odense FB]]></clubTitle></club>
</root>